@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}
body section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(30deg, #00dfc4, #1d2b3a, #1d2b3a);
}
.inputBox {
    position: relative;
    width: 260px;
}
.inputBox01 {
    position: relative;
    width: 260px;
}
.inputBox02 {
    position: relative;
    width: 260px;
}
.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox01 input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
    text-align: center;
}
.inputBox02 input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
    cursor: pointer;
}
.inputBox02 input:hover {
    background: #00dfc4;
    color: #1d2b3a;
    transition: 0.5s;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox01 span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox02 span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 2em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #00dfc4;
    transform: translate(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}
.inputBox01 input:valid ~ span,
.inputBox01 input:focus ~ span {
    color: #00dfc4;
    transform: translate(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}
.inputBox02 input:valid ~ span,
.inputBox02 input:focus ~ span {
    color: #00dfc4;
    transform: translate(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}
.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #00dfc4;
}
.inputBox01 input:valid,
.inputBox01 input:focus {
    border: 1px solid #00dfc4;
}